
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title> Member Panel</title>
    <meta charset="utf-8" />
    <link rel="shortcut icon" href="~/images/favicon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui" />
    <link rel="icon" href="#" type="image/x-icon" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/files/bower_components/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/files/bower_components/datatables.net-bs4/css/dataTables.bootstrap4.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/rowreorder/1.2.3/css/rowReorder.dataTables.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.1/css/responsive.dataTables.min.css" />
    <link rel="stylesheet" type="text/css" href="~/files/assets/icon/themify-icons/themify-icons.css" />
    <link rel="stylesheet" href="~/files/assets/pages/chart/radial/css/radial.css" type="text/css" media="all" />
    <link rel="stylesheet" type="text/css" href="~/files/assets/css/style.css" />
    <link rel="stylesheet" type="text/css" href="~/files/assets/css/jquery.mCustomScrollbar.css" />
    <link type="text/css" rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="~/css/main.min.css" />
    <link href="~/css/member.styles.min.css" rel="stylesheet" />
</head>
<body>
    <form id="form1" >
        @*<div class="theme-loader">
            <div class="loader-track">
                <div class="preloader3 loader-block">
                    <div class="circ1"></div>
                    <div class="circ2"></div>
                    <div class="circ3"></div>
                    <div class="circ4"></div>
                </div>
            </div>


        </div>*@

        <div id="pcoded" class="pcoded">
            <div class="pcoded-overlay-box"></div>
            <div class="pcoded-container navbar-wrapper">
                <nav class="navbar header-navbar pcoded-header">
                    <div class="navbar-wrapper">
                        <div class="navbar-logo">
                            <a class="mobile-menu" id="mobile-collapse" href="#!">
                                <i class="ti-menu"></i>
                            </a>
                            <div class="mobile-search">
                                <div class="header-search">
                                    <div class="main-search morphsearch-search">
                                        <div class="input-group">
                                            <span class="input-group-addon search-close"><i class="ti-close"></i></span>
                                            <input type="text" class="form-control" placeholder="Enter Keyword">
                                            <span class="input-group-addon search-btn"><i class="ti-search"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a href="../member/index.aspx">
                                <img class="img-fluid" src="../images/logo.png" alt="allrich-member-logo" width="147" heigth="35" />
                            </a>
                            <a class="mobile-options">
                                <i class="ti-more"></i>
                            </a>
                        </div>
                        <div class="navbar-container container-fluid">
                            <ul class="nav-left">
                                <li>
                                    <div class="sidebar_toggle"><a href="javascript:void(0)"><i class="ti-menu"></i></a></div>
                                </li>
                            </ul>
                            @*<style>
                                #server_clock {
                                    display: inline-block;
                                    font-family: 'Dosis', sans-serif;
                                    font-weight: 100;
                                    line-height: 16px;
                                }

                                .clock {
                                    display: inline-block;
                                    font-family: 'Dosis', sans-serif;
                                    font-weight: 100;
                                    line-height: 16px;
                                }
                            </style>*@
                            @*<input value="10:08:36" id="serverClock_input" hidden>
                            <input value="Saturday, December 21st, 2019 " id="serverDate_input" hidden>*@
                            <ul class="nav-right">
                                <li>
                                    <a>
                                        <span class="date hidden-xs" style="padding: 0px 0px 0px 10px;">
                                            <timestamp id="date"></timestamp>
                                        </span>
                                        <span class="clock hidden-xs" id="clock"></span>
                                    </a>
                                </li>
                                @*<li class="user-profile header-notification">
                                    <a href="#!">
                                        <img src="~/images/user.png" class="img-circle" alt="User-Profile-Image">
                                        <i class="ti-angle-down"></i>
                                    </a>
                                    <ul class="show-notification profile-notification">
                                        <li>
                                            <a href="personal_details.aspx">
                                                <i class="ti-user"></i> Profile
                                            </a>
                                        </li>
                                        <li>
                                            <a href="change-password.aspx">
                                                <i class="ti-settings"></i> Change Password
                                            </a>
                                        </li>
                                        <li>
                                            <i class="ti-layout-sidebar-left">
                                            </i>
                                        </li>
                                    </ul>
                                </li>*@
                            </ul>
                        </div>
                    </div>
                </nav>
                <div class="pcoded-main-container">
                    <div class="pcoded-wrapper">
                        <nav class="pcoded-navbar">
                            <div class="sidebar_toggle"><a href="#"><i class="icon-close icons"></i></a></div>
                            <div class="pcoded-inner-navbar main-menu">
                                <ul class="pcoded-item pcoded-left-item">
                                    <li>
                                        <a href="index.aspx">
                                            <span class="pcoded-micon"><i class="ti-home"></i></span>
                                            <span class="pcoded-mtext">Dashboard</span>
                                            <span class="pcoded-mcaret"></span>
                                        </a>
                                    </li>
                                    <li class="pcoded-hasmenu">
                                        <a href="javascript:void(0)">
                                            <span class="pcoded-micon"><i class="ti-user"></i><b>D</b></span>
                                            <span class="pcoded-mtext">Profile</span>
                                            <span class="pcoded-mcaret"></span>
                                        </a>
                                        <ul class="pcoded-submenu">
                                            <li>
                                                <a href="welcome.aspx">
                                                    <span class="pcoded-micon"><i class="ti-eye"></i></span>
                                                    <span class="pcoded-mtext">Welcome Note</span>
                                                    <span class="pcoded-mcaret"></span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="kyc.aspx">
                                                    <span class="pcoded-micon"><i class="ti-home"></i></span>
                                                    <span class="pcoded-mtext">KYC</span>
                                                    <span class="pcoded-mcaret"></span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="personal_details.aspx">
                                                    <span class="pcoded-micon"><i class="ti-eye"></i></span>
                                                    <span class="pcoded-mtext">Personal Details</span>
                                                    <span class="pcoded-mcaret"></span>
                                                </a>
                                            </li>

                                        </ul>
                                    </li>

                                    <li class="pcoded-hasmenu">
                                        <a href="javascript:void(0)">
                                            <span class="pcoded-micon"><i class="ti-wallet"></i><b>D</b></span>
                                            <span class="pcoded-mtext">Wallet</span>
                                            <span class="pcoded-mcaret"></span>
                                        </a>
                                        <ul class="pcoded-submenu">
                                            <li>
                                                <a href="wallet-transfer.aspx">
                                                    <span class="pcoded-micon"><i class="ti-pin"></i></span>
                                                    <span class="pcoded-mtext">Wallet Transfer</span>
                                                    <span class="pcoded-mcaret"></span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="wallet-history.aspx">
                                                    <span class="pcoded-micon"><i class="ti-pin"></i></span>
                                                    <span class="pcoded-mtext">Wallet History</span>
                                                    <span class="pcoded-mcaret"></span>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="pcoded-hasmenu">
                                        <a href="javascript:void(0)">
                                            <span class="pcoded-micon"><i class="ti-blackboard"></i><b>D</b></span>
                                            <span class="pcoded-mtext">Team View</span>
                                            <span class="pcoded-mcaret"></span>
                                        </a>
                                        <ul class="pcoded-submenu">
                                            <li>
                                                <a href="team.aspx">
                                                    <span class="pcoded-micon"><i class="ti-arrow"></i></span>
                                                    <span class="pcoded-mtext">My Team</span>
                                                    <span class="pcoded-mcaret"></span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="direct.aspx">
                                                    <span class="pcoded-micon"><i class="ti-arrow"></i></span>
                                                    <span class="pcoded-mtext">My Direct</span>
                                                    <span class="pcoded-mcaret"></span>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>

                                    <li>
                                        @*<a href="@Url.Action("Registration", "Home")">*@
                                        <a href="upgrade.aspx">
                                            <span class="pcoded-micon"><i class="ti-link"></i></span>
                                            <span class="pcoded-mtext">Register</span>
                                            <span class="pcoded-mcaret"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="upgrade.aspx">
                                            <span class="pcoded-micon"><i class="ti-link"></i></span>
                                            <span class="pcoded-mtext">Upgrade</span>
                                            <span class="pcoded-mcaret"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="epin.aspx">
                                            <span class="pcoded-micon"><i class="ti-key"></i></span>
                                            <span class="pcoded-mtext">E-Pin</span>
                                            <span class="pcoded-mcaret"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="income_report.aspx">
                                            <span class="pcoded-micon"><i class="ti-wallet"></i></span>
                                            <span class="pcoded-mtext">Income Report</span>
                                            <span class="pcoded-mcaret"></span>
                                        </a>
                                    </li>
                                    <li class="pcoded-hasmenu">
                                        <a href="javascript:void(0)">
                                            <span class="pcoded-micon"><i class="ti-settings"></i><b>D</b></span>
                                            <span class="pcoded-mtext">Account Settings</span>
                                            <span class="pcoded-mcaret"></span>
                                        </a>
                                        <ul class="pcoded-submenu">
                                            <li>
                                                <a href="change-password.aspx">
                                                    <span class="pcoded-micon"><i class="ti-pin"></i></span>
                                                    <span class="pcoded-mtext">Change Password</span>
                                                    <span class="pcoded-mcaret"></span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="change-password.aspx">
                                                    <span class="pcoded-micon"><i class="ti-pin"></i></span>
                                                    <span class="pcoded-mtext">Change Secure Password</span>
                                                    <span class="pcoded-mcaret"></span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <span class="pcoded-micon"><i class="ti-arrow"></i></span>
                                                    <span class="pcoded-mtext">Account Summary</span>
                                                    <span class="pcoded-mcaret"></span>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="pcoded-hasmenu">
                                        <a href="javascript:void(0)">
                                            <span class="pcoded-micon"><i class="ti-microphone"></i><b>D</b></span>
                                            <span class="pcoded-mtext">Support</span>
                                            <span class="pcoded-mcaret"></span>
                                        </a>
                                        <ul class="pcoded-submenu">
                                            <li>
                                                <a href="support.aspx">
                                                    <span class="pcoded-micon"><i class="ti-pin"></i></span>
                                                    <span class="pcoded-mtext">New Ticket</span>
                                                    <span class="pcoded-mcaret"></span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="support_tickets.aspx">
                                                    <span class="pcoded-micon"><i class="ti-pin"></i></span>
                                                    <span class="pcoded-mtext">Tickets Submitted</span>
                                                    <span class="pcoded-mcaret"></span>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </nav>                  <div class="pcoded-content">
                            <div class="pcoded-inner-content">
                                <div class="main-body">

                                    @RenderBody()

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 pull-right">
                        <!-- <p class="text-right">Developed by <a href="https://www.randlimited.com" style="color:green" target="blank">Rand Technologies</a> </p>  -->
                    </div>
                </div>
            </div>
        </div>

    </form>
</body>
</html>

<script src="~/files/bower_components/jquery/js/jquery.min.js"></script>
<script src="~/files/bower_components/jquery-ui/js/jquery-ui.min.js"></script>
<script src="https://cdn.datatables.net/1.10.9/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/responsive/1.0.7/js/dataTables.responsive.min.js"></script>
@*<script src="js/member.custom.min.js"></script>*@
<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
@*<script src="js/timer.js" type="text/javascript"></script>
    <script src="js/auto_timeout.js" type="text/javascript"></script>*@
<script src="~/files/bower_components/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="~/files/bower_components/popper.js/js/popper.min.js"></script>
<script src="~/files/bower_components/bootstrap/js/bootstrap.min.js"></script>
<script src="~/files/assets/pages/widget/excanvas.js"></script>
<script src="~/files/bower_components/jquery-slimscroll/js/jquery.slimscroll.js"></script>
<script src="~/files/bower_components/modernizr/js/modernizr.js"></script>
<script src="~/files/assets/js/SmoothScroll.js"></script>
<script src="~/files/assets/js/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="~/files/bower_components/chart.js/js/Chart.js"></script>
<script src="~/files/assets/pages/widget/amchart/amcharts.js"></script>
<script src="~/files/assets/pages/widget/amchart/serial.js"></script>
<script src="~/files/assets/pages/widget/amchart/light.js"></script>
<script src="~/files/assets/js/pcoded.min.js"></script>
<script src="~/files/assets/js/navbar-image/vertical-layout.min.js"></script>
@*<script src="~/files/assets/pages/dashboard/custom-dashboard.js"></script>*@
<script src="~/files/assets/js/script.js"></script>
@*<script type="text/javascript">
        $(function () {
            setInterval(KeepSessionAlive, 60000);
        });

        function KeepSessionAlive() {
            $.post("KeepSessionAlive.ashx", null, function () {
            });
        }
    </script>*@

